// COLORS
$primary-color: #FFB75E;
$secondary-color: #ED8F03;
//deep purple	#673AB7 -> #512DA8
//little leaf 	#76b852 -> #8DC26F
//light orange	#FFB75E -> #ED8F03

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
